{
  "env": {
    "browser": true,
    "node": true,
    "amd": true
  },
  "globals": {
    "$": true,
    "jQuery": false,
    "_": true,
    "Backbone": false,
    "alert": false
  },
  "rules": {
    "quotes": [1, "single"],
    "strict": [0],
    "max-params": [1, 4],
    "semi": [1, "always"],
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "no-alert": [1],
    "eol-last": [0]
  }
}
