@charset 'utf-8';

.content__header  {
  padding: 20px 0;
  background-color: #38424a;
  color: #fff;
}

.content__headline  {
  padding: 30px 160px;
  margin: 0;
  font-size: 2rem;

  @include max-screen (768px) {
    padding: 30px 5px;
  }
}

.content__inner {
}
