@charset 'utf-8';

.content__header  {
  padding: 20px 0;
  background-color: #38424a;
  color: #fff;
}

.content__headline  {
  padding: 30px 160px;
  margin: 0;
  font-size: 2rem;
}

.content__inner {
}
