@charset 'utf-8';

.content__header  {
  background-color: #38424a;
  color: #fff;
  padding: 20px 0;
}

.content__headline  {
  font-size: 2rem;
  margin: 0;
  padding: 30px 160px;

  @include max-screen (768px) {
    padding: 30px 5px;
  }
}

//.content__inner {
//}
