@charset 'utf-8';

.footer {
  background-color: #38424a;
}

.footer__github__link {
  display: block;
  margin: 0 auto;
  width: 32px;
}

.footer__github__icon {
  color: #fff;

  &:hover {
    color: #ccc;
  }
}
