@charset 'utf-8';

.markdown {

  h2  {
    border-bottom: 1px solid #ddd;
    margin: 0 0 10px;
    padding: 40px 0 6px;
  }

  h3  {
    margin: 0 0 10px;
    padding: 30px 0 0;
  }

  blockquote  {
    border-left: 4px solid #ddd;
    color: #777;
    margin: 0;
    padding: 0 10px;
  }

  a {
    color: #38e;

    &:hover {
      color: #16e;
    }
  }

  ul,
  ol  {
    list-style-type: disc;
    margin: 0 20px;
    padding: 6px 0;
  }
}
