body	{
	font-family: "Helvetica Neue", helvetica, sans-serif, arial;
	background-color: #FFF;
	color: #444;
	font-size: 14px;
	line-height: 1.4;
}

a	{
	text-decoration: none;
	color: #666;
	&:hover	{
		text-decoration: underline;
	}
}

ul, ol	{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1, h2, h3	{
	margin: 0;
}

::selection	{
	background-color: #333;
	color: #FFF;
}
