@charset 'utf-8';

@import '../vendor/normalize.scss/normalize';

@import '../vendor/media-queries/media-queries';

@import '../vendor/font-awesome/scss/variables';
@import '../vendor/font-awesome/scss/core';
@import '../vendor/font-awesome/scss/mixins';
@import '../vendor/font-awesome/scss/path';
@import '../vendor/font-awesome/scss/larger';
@import '../vendor/font-awesome/scss/fixed-width';
@import '../vendor/font-awesome/scss/list';
@import '../vendor/font-awesome/scss/bordered-pulled';
@import '../vendor/font-awesome/scss/spinning';
@import '../vendor/font-awesome/scss/rotated-flipped';
@import '../vendor/font-awesome/scss/stacked';
@import '../vendor/font-awesome/scss/icons';


html,
body  {
  background-color: #fbfcff;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ';
}

html  {
  height: 100%;
}

body  {
  min-height: 100%;
}

a {
  color: #333;
}

ul,
ol  {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6  {
  margin: 0;
}
