body	{
	font-family: helvetica, sans-serif, arial;
	background-color: #FFF;
	color: #333;
	line-height: 1.4;
}

a	{
	text-decoration: none;
	color: #40E;
	&:hover	{
		color: #EEE;
		background-color: #40E;
	}
}

ul, ol	{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.wrapper	{
	padding: 0 10px;
}
