@import "base/base";

.wrapper	{
	max-width: 800px;
	margin: 0 auto;
}

.header	{
	padding: 14px 0;
	border-bottom: 1px solid #DDD;
}

.header-headline {
	font-size: 16px;
}

.content	{
	border-bottom: 1px solid #DDD;
}

.content-article	{
	padding-bottom: 40px;
}

.content-article-headline	{
	padding: 20px 0;
}

.footer {
	padding: 14px 0;
}
