<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>Performance notes</title>

		{{# styles }}
		<link rel="stylesheet" href="./css/{{.}}" />
		{{/ styles }}
	</head>
	<body>
		<div class="wrapper">
			{{> header }}
			<div class="content">
			{{> body}}
			</div>
			{{> footer}}
		</div>

		<script src="./js/lib/jquery.min.js"></script>
		{{# scripts }}
		<script src="./js/{{.}}"></script>
		{{/ scripts }}
	</body>
</html>
