<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Performance notes</title>
		<link rel="stylesheet" href="./css/lib/normalize.css">
		<link rel="stylesheet" href="./css/index.css">
	</head>
	<body>
		<div class="wrapper">
			{{>header}}
			{{>body}}
			{{>footer}}
		</div>
		<script src="./js/lib/jquery.min.js"></script>
	</body>
</html>
