<header class="layout__header header">
	<div class="header__inner">
		<div class="header__title">
			<a href="http://makotot.github.com/frontend-perf-notes">Frontend Perf Notes</a>
		</div>
		{{!--		<nav class="header__nav">
			<ul class="header__nav__list">
				<li><a href="#">Tools</a></li>
				<li><a href="#">Notes</a></li>
			</ul>
		</nav>--}}
	</div>
</header>
