{{#minify minifyJS="true"}}
<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>{{ title }}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<link href='//fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		{{# styles }}
		<link rel="stylesheet" href="{{../assets }}/css/{{.}}.min.css" />
		{{/ styles }}

	</head>
	<body>
		{{> header }}

		<div class="layout__content">
			{{> content-header }}

			<div class="layout__content__inner content__inner">
				{{> body }}
			</div>

			{{> side-nav }}

		</div>

		{{> footer }}

		{{> ga }}
	</body>
</html>
{{/minify }}
